@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


:root{

    /* fonts */
    --mainFont :'Montserrat', sans-serif;
    --fontBold:700;
    --fontExBold:800;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:400;
    --fontLight:300;

    /* color */
    --mainClr:#6C63FE;
    --secondClr:#252E4C;
    --otherMain:#E8F6EF;
   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex: 0 0 auto;
}

a{text-decoration: none;}
ul{list-style-type: none; display: flex;}


body{
    font-family: var(--mainFont);
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 100vh;
    
}

.container{
    max-width: 80rem;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom:1px solid rgb(255, 255, 255);
}

nav li {
    margin-right: 2rem;
    
}

nav .brand{
    margin-left: 5rem;
}



nav a{
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-top: .3rem;
    

}

nav img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #fff;
}


.hero__content {
    position: absolute;
    top:30%;
    left: 40%;
    text-align: center;
}

.hero__content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
    padding: 2px;
}


.hero__content h5{
    font-weight: bold;
    text-transform: capitalize;
    /* text-align: center; */
    padding: 0.5rem 0rem;
    color: #fff;
    letter-spacing: 4px;
}
.hero__content h2{
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(255, 60, 1);
    letter-spacing: 6px;
    margin-top: 1rem;
}


@media(nax-375){
    .hero__content {
        text-align: left;
    }
}


